{% extends "base.html" %}

{% block mainPageContent %}
  <div class="row topSpace"></div>
  <div class="row">
	<div class="span6 offset1">
		<div class="columnHeading">
                <button class="tab selectedTab" id="recentActivity">
                    RECENT ACTIVITY
                </button>
                <button class="tab" id="topProjects">
                    PROJECTS
                </button>
                <button class="tab" id="topObjectives">
                    OBJECTIVES
                </button>
                <button class="tab" id="topOrganizations">
                    ORGANIZATIONS

                </button>
        </div>
        <div id="recentActivityArea" class="tabbedArea">
          {% for point in recentlyActive %}
             {% include 'pointBox.html' %}            
          {% endfor %}               
        </div>
        <div id="topProjectsArea" class="tabbedArea">            
        </div>
        <div id="topObjectivesArea" class="tabbedArea">      
        </div>
        <div id="topOrganizationsArea" class="tabbedArea">             
        </div>
    </div>

    {% if user %}
    <div id="recentlyViewed" class="span3 offset1">
        <div class="columnHeading" style="line-height:25px">
        YOUR RECENTLY VIEWED
        </div>
        {% for point in recentlyViewed %}
            {% include 'smallPointBox.html' %}
        {% endfor %}
     </div>   
    {% endif %} 
   </div>

{% endblock %}
